# Arquivos sensíveis
.env
secret.key
credentials.json
mock_cloud.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# PyInstaller
build/
dist/
*.spec

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
